<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search artists" [(ngModel)]="searchKey">
        <div class="input-group-btn">
          <button class="btn btn-success" type="button" (click)="search()">Search  
            <span class="glyphicon glyphicon-search" *ngIf="!isSearching"></span>
            <i class="fas fa-sync-alt fa-spin" *ngIf="isSearching"></i>
          </button>
          <button class="btn btn-danger" [disabled]="!hasResults">Clear Results</button>
        </div>
      </div>
    </div>
    <p class="errorNotification" #errorNotification></p>
  </div>
</div>
<app-search-results></app-search-results>